---
apiVersion: v1
kind: Secret
metadata:
  name: btrfs-nfs-creds
  namespace: btrfs-nfs-csi
type: Opaque
stringData:
  agentToken: "{{ tenant_token }}"
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: btrfs-nfs
provisioner: btrfs-nfs-csi
parameters:
  nfsServer: "{{ agent_ip }}"
  agentURL: "http://{{ agent_ip }}:8080"
  nfsMountOptions: "nfsvers=4.2,hard,noatime,rsize=1048576,wsize=1048576,nconnect=8"
  csi.storage.k8s.io/provisioner-secret-name: btrfs-nfs-creds
  csi.storage.k8s.io/provisioner-secret-namespace: btrfs-nfs-csi
  csi.storage.k8s.io/controller-expand-secret-name: btrfs-nfs-creds
  csi.storage.k8s.io/controller-expand-secret-namespace: btrfs-nfs-csi
  csi.storage.k8s.io/controller-publish-secret-name: btrfs-nfs-creds
  csi.storage.k8s.io/controller-publish-secret-namespace: btrfs-nfs-csi
reclaimPolicy: Delete
allowVolumeExpansion: true
volumeBindingMode: Immediate
---
apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshotClass
metadata:
  name: btrfs-nfs
driver: btrfs-nfs-csi
deletionPolicy: Delete
parameters:
  csi.storage.k8s.io/snapshotter-secret-name: btrfs-nfs-creds
  csi.storage.k8s.io/snapshotter-secret-namespace: btrfs-nfs-csi
